spring:
  application:
    name: monad
  profiles:
    active: local
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

server:
  port: 8080

jwt:
  secret: bW9uYWQtand0LXNlY3JldC1rZXktZm9yLWRldmVsb3BtZW50LW9ubHktMjAyNg==
  access-token-expiry: 1800000
  refresh-token-expiry: 604800000

image:
  storage:
    path: ./data/images

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: method
